// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.
@use './colours' as colours;
@use '../../styles.scss' as root;
@use '../app.component.scss' as app;
@use '../login/login.component.scss' as login;
@use '../activity-card/activity-card.component.scss' as activityCard;
@use '../home/home.component.scss' as home;
@use '../location-autocomplete/location-autocomplete.component.scss' as autocomplete;
@use '../styles/typography';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ScreenHush-primary: mat.define-palette(colours.$primary-palette);
$ScreenHush-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$ScreenHush-warn: mat.define-palette(mat.$red-palette);

$ScreenHush-typography-config: mat.define-typography-config(
  $font-family: 'liebling',
  $headline-1: mat.define-typography-level(7rem, 7rem, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(3.5rem, 3.5rem, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(2.8125rem, 3rem, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(2.125rem, 2.5rem, 400),
  $headline-5: mat.define-typography-level(1.5rem, 2rem, 400),
  $headline-6: mat.define-typography-level(1.5rem, 2rem, 400),
  $body-1: mat.define-typography-level(1rem, 1rem, 400),
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ScreenHush-theme: mat.define-light-theme((color: (primary: $ScreenHush-primary,
        accent: $ScreenHush-accent,
        warn: $ScreenHush-warn,
      ),
      typography: $ScreenHush-typography-config, ));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include root.theme($ScreenHush-theme);
@include app.theme($ScreenHush-theme);
@include login.theme($ScreenHush-theme);
@include activityCard.theme($ScreenHush-theme);
@include home.theme($ScreenHush-theme);
@include autocomplete.theme($ScreenHush-theme);
@include mat.typography-hierarchy($ScreenHush-typography-config);