<div class="share-buttons">
    <div class="account-header">
        <mat-card-title>Reset Password</mat-card-title>
    </div>
    <p>
        Please provide the email linked to your
        account, and we'll send you a secure link to
        help you reset your password
    </p>
    <form (ngSubmit)="resetPassword()" #passwordResetForm="ngForm" class="form">
        <input matInput required autocomplete="username" type="text" id="emailCtrl" name="emailCtrl" [(ngModel)]="email"
            #emailCtrl="ngModel" placeholder="Enter your email address">
        <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)">
            <mat-error *ngIf="emailCtrl.errors?.['required']">
                Email is required
            </mat-error>
            <mat-error *ngIf="emailCtrl.errors?.['pattern']">
                Please enter a valid email address
            </mat-error>
        </div>
        <div *ngIf="resetPasswordError" class="errors">
            <mat-error>
                {{resetPasswordErrorMessage}}
            </mat-error>
        </div>
        <button class="login-button orange" [disabled]="!passwordResetForm.form.valid" mat-raised-button type="submit"
            color="primary">
            Send reset link
        </button>
    </form>
</div>