<div class="activity-page">
    <div class="share-bar">
        <a backButton class="share-button">
            <mat-icon matListItemIcon>arrow_back_ios_new</mat-icon>
        </a>
        <div class="share-right">
            <a class="share-button">
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu">share</mat-icon>
                <mat-menu #menu="matMenu" class="share-menu">
                    <button mat-menu-item shareButton="facebook"><mat-icon svgIcon="facebook_custom"></mat-icon> Facebook</button>
                    <button mat-menu-item shareButton="twitter"><mat-icon svgIcon="twitter_custom"></mat-icon> Twitter</button>
                    <button mat-menu-item (click)="sendEmail()"><mat-icon>mail</mat-icon> Send Email</button>
                    <button mat-menu-item shareButton="copy"><mat-icon>content_copy</mat-icon> Copy link</button>
                    <button mat-menu-item (click)="shareMore()"><mat-icon>send</mat-icon> More</button>
                </mat-menu>
            </a>
            <button class="share-button" (click)="toggleFavourite()">
                <mat-icon matListItemIcon>{{ isFavoured ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
            <a class="share-button" [routerLink]="['/edit-activity', (activityDoc$ | async).id]">
                <mat-icon matListItemIcon>edit</mat-icon>
            </a>
        </div>
    </div>
    <div class="image-container">
        <img mat-card-image [src]="(activityDoc$ | async).imageUrl" alt="Image">
    </div>
    <div class="activity-container">
        <div class="activity-hero">
            <div class="activity-section left">
                <h1 class="mat-headline-1">{{(activityDoc$ | async).title}}</h1>
                <markdown [data]="(activityDoc$ | async).description"></markdown>
            </div>
            <div class="activity-section">
                <div class="activity-rating">
                    <star-rating [starType]="'svg'" [rating]="2" labelText="Our Rating"
                        labelPosition="bottom"></star-rating>
                    <div class="divider"></div>
                    <star-rating [starType]="'svg'" [rating]="2" labelText="Community Rating"
                        labelPosition="bottom"></star-rating>
                </div>
            </div>
        </div>
        <div class="activity-content">
            <div class="activity-info-container">
                <mat-list class="activity-info">
                    <mat-list-item>
                        <mat-icon matListItemIcon>location_on</mat-icon>
                        <a [href]="(activityDoc$ | async).mapsUrl" target="_blank" style="color: white;">
                            {{(activityDoc$ | async).address}}
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>schedule</mat-icon>
                        <span matListItemTitle>Sunday - Friday <svg xmlns="http://www.w3.org/2000/svg" width="4"
                                height="4" viewBox="0 0 4 4" fill="none">
                                <circle cx="2" cy="2" r="2" fill="#FAFAFA" />
                            </svg> 09:30 - 16:30</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>attach_money</mat-icon>
                        <span matListItemTitle>From $34.53 per adult</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>public</mat-icon>
                        <a [href]="(activityDoc$ | async).website" target="_blank" style="color: white;">
                            {{(activityDoc$ | async).website}}
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>mail</mat-icon>
                        <span class="email" matListItemTitle>test@test.com <svg xmlns="http://www.w3.org/2000/svg"
                                width="4" height="4" viewBox="0 0 4 4" fill="none">
                                <circle cx="2" cy="2" r="2" fill="#FAFAFA" />
                            </svg> 043562462</span>
                    </mat-list-item>
                </mat-list>

                <mat-accordion class="expansion-panel" multi>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-description>
                                {{(activityDoc$ | async).title}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <markdown [data]="(activityDoc$ | async).description"></markdown>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>