<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="activity-header-image"></div>
        <mat-card-title>FERNTREE RESERVE</mat-card-title>
        <mat-card-subtitle>22 Ferntree Road, Engadine, NSW 2233</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>Date: Everyday</p>
        <p>Time: Always Open</p>
        <p>Description: Spacious park located next to Fire Station with netball courts right next to it so loads of room
            for the kids to play on the equipment or ride scooters/bikes on the flat concrete area. A few scattered
            tables and plenty of grass areas for blankets. Lots of trees and shade.
        </p>
        <p>Main Features:</p>
        <ul>
            <li>Playground equipment</li>
            <li>Toilets (MLAK key)</li>
            <li>Netball Courts</li>
            <li>Handball Courts</li>
            <li>Parking</li>
            <li>Partly fenced</li>
            <li>Bike/Scooter tracks</li>
            <li>Leashed Pets ok</li>
            <li>Park Benches/Seats</li>
        </ul>
        <p>Further Comments: Nice outlook of the bush</p>
        <p>Category Tags: Parks and Playgrounds</p>
        <p>Suitable Profiles: My Family</p>
        <p>Postcode: 2233</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>