@use 'sass:map';
@use '@angular/material' as mat;
@import '../app/styles/_media';


@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    $typography-config: mat.get-typography-config($theme);

    @if $color-config !=null {
        $primary-palette: map.get($color-config, 'primary');
        $barColor: mat.get-color-from-palette($primary-palette, 800);
        $textColor: mat.get-color-from-palette($primary-palette, 300-contrast);
        $captionColour: mat.get-color-from-palette($primary-palette, 500-contrast);
        $backgroundColor: mat.get-color-from-palette($primary-palette, 500);
        $hoverColour: mat.get-color-from-palette($primary-palette, 800-contrast);

        .app {
            margin-left: 3.75rem;
            background: transparent;
            color: $textColor;

            @include breakpoint(xl, max) {
                margin-left: 1rem;
            }
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;

            .toolbarNav {
                display: none;

                @include breakpoint(xl, max) {
                    display: flex;
                    position: fixed;
                    bottom: 0;
                    z-index: 1000;
                    justify-content: space-around;
                    width: 100%;
                    background: #0C1B2240;
                    backdrop-filter: blur(25px);

                    button {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: $captionColour;
                        width: 100%;
                        padding: 0.5rem 0.75rem;
                        background: transparent;
                        border: none;

                        &.active-link {
                            color: white;
                        }

                        mat-icon {
                            font-size: 1.25rem;
                        }

                        span {
                            display: block;
                            text-align: center;
                            font-size: 0.75rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}