<div class="app">
  <app-navbar [showFilterButtons]="showFilterButtons()"></app-navbar>

  <footer *ngIf="showFilterButtons()">
    <div class="toolbarNav">
      <button routerLink="/" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">
          home</mat-icon>
        <span>Home</span>
      </button>
      <button routerLink="/favourites" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">favorite_border
        </mat-icon>
        <span>Favourites</span>
      </button>
      <button routerLink="/shop" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">shopping_bag</mat-icon>
        <span>Shop</span>
      </button>
      <button routerLink="/history" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">sort</mat-icon>
        <span>History</span>
      </button>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>