.activity-edit {
    display: flex;
    color: white;

    mat-card-content {
        display: flex;
        flex-direction: column;
    }

    mat-form-field {
        padding: 1rem 0;

        input {
            margin-top: 1rem;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    form {
        display: flex;

        mat-form-field {
            width: 100%;
        }
    }
}