<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card>
    <mat-card-header>
        <mat-card-title data-cy="activityCardTitle">
            <span *ngIf="isLoading">Loading ...</span>
            <span *ngIf="!isLoading">{{activity.title}}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput name="activityTitle" [ngModel]="activity?.title"
                (ngModelChange)="updateActivity({title: $event})" data-cy="activityTitle">
            <mat-icon matSuffix>toc</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput name="address" [ngModel]="activity?.address"
                (ngModelChange)="updateActivity({address: $event})" data-cy="address">
            <mat-icon matSuffix>map</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Link to maps</mat-label>
            <input matInput name="mapsUrl" [ngModel]="activity?.mapsUrl"
                (ngModelChange)="updateActivity({mapsUrl: $event})" data-cy="mapsUrl">
            <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Website</mat-label>
            <input matInput name="website" [ngModel]="activity?.website"
                (ngModelChange)="updateActivity({mapsUrl: $event})" data-cy="mapsUrl">
            <mat-icon matSuffix>public</mat-icon>
        </mat-form-field>
        <div id="row">
            <mat-form-field class="row-element">
                <mat-label>Date</mat-label>
                <input matInput name="date" [ngModel]="activity?.date" (ngModelChange)="updateActivity({date: $event})"
                    data-cy="date">
                <mat-icon matSuffix>calendar_month</mat-icon>
            </mat-form-field>
            <mat-form-field class="row-element">
                <mat-label>Time</mat-label>
                <input matInput name="time" [ngModel]="activity?.time" (ngModelChange)="updateActivity({time: $event})"
                    data-cy="time">
                <mat-icon matSuffix>schedule</mat-icon>
            </mat-form-field>
        </div>
        <p>Use <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown</a> language to format
            text:</p>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput rows="20" name="activityDescription" [ngModel]="activity?.description"
                (ngModelChange)="updateActivity({description: $event})" data-cy="activityDescription">
            </textarea>
        </mat-form-field>

        <form>
            <mat-form-field>
                <mat-label>Tags</mat-label>
                <mat-chip-grid #chipGrid aria-label="Tag selection">
                    <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)">
                        {{tag}}
                        <button matChipRemove [attr.aria-label]="'remove ' + tag">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="New Tag..." #tagInput [formControl]="tagCtrl" [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)" />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                        {{tag}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <img mat-card-xl-image style="height: auto;" [src]="imageUrl" alt="Image">
    </mat-card-content>
    <mat-progress-bar *ngIf="isImageLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-actions>
        <input hidden (change)="onImageSelected($event)" #fileInput type="file" id="uploadImage" accept='image/*'>
        <button mat-raised-button data-cy="addPhotoBtn" (click)="fileInput.click()">
            <mat-icon> add_a_photo</mat-icon>
            ADD PHOTO
        </button>
        <button mat-raised-button data-cy="viewActivityBtn" [routerLink]="['/activity', activity?.id]">
            <mat-icon>visibility</mat-icon>
            VIEW
        </button>
        <button mat-raised-button (click)="deleteActivity()" data-cy="deleteActivityBtn" style="color: red;">
            <mat-icon color="warn">delete</mat-icon>
            DELETE
        </button>
    </mat-card-actions>
</mat-card>