mat-form-field {
    width: 100%;
}

#row {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.row-element {
    width: auto;
    flex-grow: 1;
}