@use 'sass:map';
@use '@angular/material' as mat;
@import "css-star-rating/scss/star-rating";

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);

    @if $color-config !=null {
        $primary-palette: map.get($color-config, 'primary');

        body {
            background: linear-gradient(180deg, mat.get-color-from-palette($primary-palette, 500) 0.25%, mat.get-color-from-palette($primary-palette, 900) 84.69%) center no-repeat;
            background-attachment: fixed;
            background-size: auto 100%;
            margin: 0;
        }
    }
}

.login-splash {
    background: url('../src/assets/images/signin-splash.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    font-size: 16px;
    font-family: "liebling";
    overflow-x: hidden;

    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent;

    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbar in IE and Edge */
    scrollbar-width: thin;
    scrollbar-color: transparent;

    /* For WebKit/Blink Browsers (Chrome, Safari, Opera) */
    ::-webkit-scrollbar {
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 6px;
        border: 3px solid transparent;
    }
}

.star {
    cursor: pointer;
}

.rating.color-negative .star-container .star {
    padding: 0 0.3rem;
}

.rating.color-ok .star-container .star {
    padding: 0 0.3rem;
}

.rating.color-positive .star-container .star {
    padding: 0 0.3rem;
}

.rating.color-default .star-container .star {
    padding: 0 0.3rem;
}

.label-bottom .label-value {
    color: var(--blue-grey-lighten-5, #ECEFF1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
}