<div class="home">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div *ngFor="let section of homeSection">
        <app-home-section [section]="section" [isMobile]="isMobile"></app-home-section>
    </div>
</div>

<mat-card style="color: white;">
    <mat-card-actions>
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="searchPrompt" (keyup.enter)="search()">
            <button *ngIf="searchPrompt" matSuffix mat-icon-button aria-label="search" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="createNewActivity()" data-cy="createNewActivityBtn">
            <mat-icon inline=true>add_circle</mat-icon>
            Create New Activity
        </button>
    </mat-card-actions>
</mat-card>