<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card *ngIf="user">
    <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="createNewActivity()" data-cy="createNewActivityBtn">
            <mat-icon inline=true>add_circle</mat-icon>
            Create New Activity
        </button>
    </mat-card-actions>
</mat-card>

<div class="card-container">
    <mat-card class="activity-card" *ngFor="let activity of activities$ | async">
        <mat-card-header>
            <a mat-card-avatar [href]="activity.mapsUrl" target="_blank">
                <mat-icon>location_on</mat-icon>
            </a>
            <mat-card-title [routerLink]="['activity', activity.id]">{{activity.title}}</mat-card-title>
            <mat-card-subtitle>
                <a mat-card-avatar [href]="activity.mapsUrl" target="_blank">
                    {{activity.address}}
                </a>
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [routerLink]="['activity', activity.id]" [src]="activity.imageUrl" alt="Image">
        <mat-chip-set>
            <mat-chip *ngFor="let tag of activity.tags">
                {{tag}}
            </mat-chip>
        </mat-chip-set>
        <mat-card-actions *ngIf="user">
            <button mat-raised-button data-cy="editActivityBtn" [routerLink]="['edit-activity', activity.id]">
                <mat-icon>edit</mat-icon>
                EDIT
            </button>
        </mat-card-actions>
    </mat-card>
</div>