<div class="account">
    <img class="landing-logo" src="../assets/img/nav-icon.png" />
    <img class="landing-image top-left" src="../../assets/images/landing-1.png">
    <img class="landing-image middle-left" src="../../assets/images/landing-2.png">
    <img class="landing-image bottom-left" src="../../assets/images/landing-3.png">
    <img class="landing-image top-right" src="../../assets/images/landing-4.png">
    <img class="landing-image middle-right-upper" src="../../assets/images/landing-5.png">
    <img class="landing-image middle-right-lower" src="../../assets/images/landing-6.png">
    <img class="landing-image bottom-right" src="../../assets/images/landing-7.png">
    <mat-card>
        <router-outlet></router-outlet>
    </mat-card>
</div>